* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {

    height: 100vh;
    
    color: #fff;
    background-color: #000;
    text-align: center;
    margin: 0;
}
section {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
}
ul li {
    transition: .4s ease-in-out;
    list-style-type: none;
}
span {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

